@page "/LecturePage"
@inject HttpClient Http;
@inject NavigationManager nav;

@using Microsoft.AspNetCore.SignalR.Client;
@implements IAsyncDisposable;
@using NewBlazorProjecct.Shared.DTOs;
@inject IJSRuntime JS



<div id="FristCanvas" style="display:@firsatCanvasDisplay">
    @if (msg != "") {
        <p>@msg</p>
    }
    <button @onclick="NavigateTo">nav to MyGames</button>
    <h1>הקלד קוד משחק:</h1>
    <input type="number" @bind="playerGameCode" />
    <span>לדוגמה 101</span>
    <button @onclick="GetGame"> כניסה למשחק</button>
        
</div>

<div id="secondCanvas" style="display:@secondCanvasDisplay">
    @* עובר על הרשימת משתמשים ומציג אותם*@
    משתמשים מחוברים:
    <ul id="Userlist" style="display:flex;gap:1rem;">
        @foreach (Group group in allGroups) {
            <li>@group.GroupName</li>
        }
    </ul>
    <button @onclick="StartGame">התחל משחק</button>
</div>

<div id="explenation" style="display:@explenationCanvasDisplay">
    <h1>ברוכים הבאים למליאה!</h1>
    <p>אנו הולכים להצביע על החוקים החדשים ולהשפיע על חיי הכיתה!</p>
    <p>כל קבוצה תקבל מספר קולות אשר ישפיעו על עתידנו.</p>
    <p>לחצו על הכפתור שבמסך שלכם לקבלת הקולות</p>
    <button @onclick="DistributePoints">קבלת קולות</button>
</div>

<div id="gotVotes" style="display:@gotVotesDisplay">
    <p>ברכותי! קיבלתם קולות!</p>
    <p> בואו נתחיל להשביפע! </p>
    @foreach(Group group in allGroups) {
        <div>
            <p>@group.GroupName</p>
            <p>@group.Points</p>
        </div>
    }
    <button @onclick="StartTheVote">התחילו!</button>
</div>



<div id="VoteScreen" class="screen" style="display:@voteScreenDisplay">
    <div id="SettingsContainer" class="col">
        <div id="ForTable">
            <table>
                <thead> <tr>   <th id="pass">עברו</th> <th id="fall">נפלו</th>   </tr> </thead>
                <tbody> <tr>   <td>@lawAmountPass</td>  <td>@lawAmountNotPass</td>   </tr> </tbody>
            </table>
        </div>
    </div>

    <div id="CharacterContainer"> <div>@characterText</div> <img src="/imgs/mydiplo.png" /> </div>
    

    <div id="LawContentContainer" style="display:@LawContentContainerDisplay">
        <div class="half head">
            <div id="lawWrapper">   <div id="law">@currentLawContent</div>   </div>
        </div>

        <div class="half bottom">
            <div id="cardsContainer">
                <button id="Against"> נגד </button>
                <button id="Avoid"> נמנע </button>
                <button id="For"> בעד </button>
            </div>
            <button @onclick="TriggerPieChart">Show Pie Chart!</button>
        </div>
    </div>


    <div id="PieChartContainer" style="display:@PieChartContainerDisplay">
        <div id="canvasContainer"> <canvas id="myPieChart"></canvas> </div>
        <button id="nextLawButton" @onclick="callForNextLaw">Next Law</button>
    </div>

</div>

<!--  RESULTS SCREEN  -->
<div id="resultsContainer" style="display:@resultsContainerDisplay">
    <table>
        <tr> <th>עברו</th> <th>נפלו</th> </tr>
        <tr> <td>@lawAmountPass</td> <td>@lawAmountNotPass</td> </tr>
    </table>
    <button id="gameFinished" @onclick="BackToStart"> GAME FINISHED! </button>
</div>



@code {

    private HubConnection? hub;// the connection to the Hub.
    Group myGroup = new Group(); // My user, will save the id.
    bool logged = false;
    List<Group> allGroups = new List<Group>();// list for all the users.

    int playerGameCode = 0;// the code from the input of the player.
    string msg;// handle the error msg.
    Game myGame = new Game(); // containe the game withe the laws.
    string firsatCanvasDisplay = "block";
    string secondCanvasDisplay = "none";
    string explenationCanvasDisplay = "none";
    string gotVotesDisplay = "none";
    string voteScreenDisplay = "none";
    string LawContentContainerDisplay = "flex";
    string PieChartContainerDisplay = "none";
    string resultsContainerDisplay = "none";

    string currentLawContent = "the law content will be here";
    int lawCounter = 0;
    int lawAmountPass = 0;
    int lawAmountNotPass = 0;
    string characterText = "";

    bool showPopUp = false;

    protected override async Task OnInitializedAsync() {
        // make a connection.
        hub = new HubConnectionBuilder()
            .WithUrl(nav.ToAbsoluteUri("./chathub"))
            .WithAutomaticReconnect()
            .Build();

        await hub.StartAsync(); // start connection.

        if (hub != null) {
            myGroup.ConnectionID = hub.ConnectionId;
        }
        // when someone login we get the user detailes and add it to the user list(to show it on screen).
        hub.On<Group>("GroupLogin", newGroup => {
            allGroups.Add(newGroup);
            StateHasChanged();
        });
        hub.On("StartTheGame", () => {
            HandleStartGame();
        });
        hub.On("StartVote", () => {
            StartVote();
            StateHasChanged();
        });
        hub.On<VoteDTO>("VoteUpdated", vote => {
            var law = myGame.LawList.FirstOrDefault(l => l.LawID == vote.LawID);
            if (law != null) {
                switch (vote.VoteType) {
                    case "For":
                        law.For += vote.Points;
                        break;
                    case "Against":
                        law.Against += vote.Points;
                        break;
                    case "Avoid":
                        law.Avoid += vote.Points;
                        break;
                }
                StateHasChanged();
            }
        });

        hub.On("showPieChart", async () => {
            await ShowPieChart();
            StateHasChanged();
        });
        hub.On("ShowNextLaw", () => {
            GetNextLaw();
            StateHasChanged();
        });
        hub.On("StartAgain", async () => {
            StartAgain();
            StateHasChanged();
        });

    }

    // if the user looged in:
    public bool IsConnected =>
    hub?.State == HubConnectionState.Connected;

    // release connection.
    public async ValueTask DisposeAsync() {
        if (hub != null) {
            await hub.DisposeAsync();
        }
    }

    async Task LogIn() {
        // קריאת Post
        var post = await Http.PostAsJsonAsync("api/Laws/InsertGroup", myGroup);
        if (post.IsSuccessStatusCode) {
            //קבלת מזהה המשתמש
            myGroup.GroupID = post.Content.ReadFromJsonAsync<int>().Result;
            logged = true;
        }
        secondCanvasDisplay = "block";
    }


    async Task GetGame() {
        var response = await Http.GetAsync("api/Laws/Game/" + playerGameCode);
        if (response.IsSuccessStatusCode == true) {
            myGame = response.Content.ReadFromJsonAsync<Game>().Result;
            firsatCanvasDisplay = "none";
            secondCanvasDisplay = "block";
            Console.WriteLine(myGame.ScoreFormat);
            // Retrieve all groups after logging in
            await GetAllGroups();
        }
        else {
            Console.WriteLine("wrong");
            string error = response.Content.ReadAsStringAsync().Result;
            switch (error) {
                case "No Game Code":
                    msg = "we do not have a game with this code.";
                    break;
                case "No Laws":
                    msg = "this game do not have any laws";
                    break;
            }
        }
    }

    async Task StartGame() {
        if (hub != null) {
            await hub.SendAsync("StartGame");
        }
    }

    void HandleStartGame() {
        secondCanvasDisplay = "none";
        explenationCanvasDisplay = "block";
        // Console.WriteLine("startgame");
        InvokeAsync(StateHasChanged);

    }


    async Task GetAllGroups() {
        var response = await Http.GetAsync("api/Laws/GetAllGroups/" + myGame.GameID);
        if (response.IsSuccessStatusCode) {
            allGroups = await response.Content.ReadFromJsonAsync<List<Group>>();
            StateHasChanged();
        }
        else {
            msg = "Failed to load groups.";
        }
    }

    async Task DistributePoints() {
        int gameID = myGame.GameID;
        bool scoreFormat;
        if(myGame.ScoreFormat == true) {
            scoreFormat = true;
        }
        else {
            scoreFormat = false;
        }
        var response = await Http.GetAsync("api/Laws/DistributePoints/" + gameID + "/" + scoreFormat);
        if (response.IsSuccessStatusCode) {
            Console.WriteLine("Points distributed successfully");
            await GetAllGroups(); // Refresh the group list to show updated points
            explenationCanvasDisplay = "none";
            gotVotesDisplay = "block";
        }
        else {
            Console.WriteLine("Failed to distribute points");
            msg = "Failed to distribute points.";
        }
    }

    async void StartTheVote() {
        Console.WriteLine("start the game!");
        await hub.SendAsync("StartVote");
    }

    void StartVote() {
        gotVotesDisplay = "none";
        voteScreenDisplay = "block";
        GetLawContent();
    }

    void GetLawContent() {
        if (lawCounter < myGame.LawList.Count) {
            currentLawContent = myGame.LawList[lawCounter].Content;
        }else {
            currentLawContent = "finish Game!";
        }
    }

    private async Task TriggerPieChart() {
        await hub.SendAsync("ShowChart");
    }

    private bool CalculateResult() {
        if (myGame.LawList[lawCounter].For > 60) {
            lawAmountPass++;
            characterText = "ברכותי! החוק עבר!";
            return true;
        }
        else {
            lawAmountNotPass++;
            characterText = "החוק לא עבר :(";
            return false;
        }
    }

    private async Task ShowPieChart() {
        LawContentContainerDisplay = "none";
        PieChartContainerDisplay = "block";

        if (myGame.LawList.Count > 0 && lawCounter < myGame.LawList.Count) {
            var currentLaw = myGame.LawList[lawCounter];
            var data = new[] {
                new { label = "For", value = currentLaw.For },
                new { label = "Against", value = currentLaw.Against },
                new { label = "Avoid", value = currentLaw.Avoid }
            };
            myGame.LawList[lawCounter].IsPass = CalculateResult();// return true/false.
            Console.WriteLine(myGame.LawList[lawCounter].IsPass);
            var dataJson = System.Text.Json.JsonSerializer.Serialize(data);// make it json.
            await JSRuntime.InvokeVoidAsync("createOrUpdatePieChart", dataJson);
        }
    }


    private async Task callForNextLaw() {
        // דרך HUB לקרוא לכולם להציג את החוק הבא
        await hub.SendAsync("ShowTheNextLaw");
    }

    void GetNextLaw() {
        lawCounter++;
        // לבדוק האם נגמרו החוקים
        if (lawCounter >= myGame.LawList.Count) {
            FinishGame();
            return;
        }
        //להביא את החוק הבא
        GetLawContent();
        //להסתיר את הגרף ולהראות את הכפתורים
        LawContentContainerDisplay = "flex";
        PieChartContainerDisplay = "none";
        characterText = "הצביעו עכשיו!";

    }

    void FinishGame() {
        Console.WriteLine("we finish vote");
        voteScreenDisplay = "none";
        resultsContainerDisplay = "block";
        foreach(LawsDTO law in myGame.LawList) {
            if(law.IsPass == true) {
                lawAmountPass++;
            }
            else {
                lawAmountNotPass++;
            }
        }

    }


    async Task BackToStart() {
        var response = await Http.DeleteAsync("api/Laws/DeleteAllGroups");
        if (response.IsSuccessStatusCode) {
            var resetVotesResponse = await Http.GetAsync("api/Laws/ResetVotes/" + myGame.GameID);
            if (resetVotesResponse.IsSuccessStatusCode) {
                await hub.SendAsync("StartAgain");
            }
            else {
                msg = resetVotesResponse.Content.ReadAsStringAsync().Result;
            }
        }
        else {
            msg = response.Content.ReadAsStringAsync().Result; ;
            Console.WriteLine(msg);
        }
    }

    void StartAgain() {
        firsatCanvasDisplay = "block";
        resultsContainerDisplay = "none";
        msg = "";
    }


    void NavigateTo() {
        int usrID = 1;
        nav.NavigateTo("./MyGames/" + usrID);
    }

}
