@page "/UserPage"
@inject HttpClient Http;
@inject NavigationManager nav;

@using Microsoft.AspNetCore.SignalR.Client;
@implements IAsyncDisposable;
@using NewBlazorProjecct.Shared.DTOs;

@if (msg != "") {
    <p>@msg</p>
}
<div id="FristCanvas" style="display:@firsatCanvasDisplay">
    <h1>הקלד קוד משחק:</h1>   <input type="number" @bind="playerGameCode" />   <span>לדוגמה 101</span>  <button @onclick="GetGame"> כניסה למשחק</button>
</div>


<div id="secondCanvas" style="display:@secondCanvasDisplay">
    @* בשביל להתחבר אנו מכניסים שם משתמש, בעתיד נשנה את זה*@
    @if (!logged) {
        <div class="form-group">
            <h1> איזה דמות תרצו שתללוה אותכם? </h1>
            <button @onclick='() => SetCharacter("./imgs/mydiplo.png")'>
                <img src="./imgs/mydiplo.png" style="height:100px; width=100px;" />
            </button>
            <button @onclick='() => SetCharacter("./imgs/femalediplo.png")'>
                <img src="./imgs/femalediplo.png" style="height:100px; width=100px;"  />
            </button>
            <label>
                שם הקבוצה:
                <input @bind="myGroup.GroupName" class="form-control" />
            </label>
            <button class="btn btn-primary" @onclick="LogIn">התחברות</button>
        </div>
    }
</div>

<div id="ThiredCanvas" style="display:@thiredCanvasDisplay">
    @* עובר על הרשימת משתמשים ומציג אותם*@
    משתמשים מחוברים:
    <ul id="Userlist" style="display:flex;gap:1rem;">
        @foreach (Group group in allGroups) {
            <li>@group.GroupName</li>
        }
    </ul>
</div>


<div id="explenation" style="display:@explenationCanvasDisplay">
    <h1>ברוכים הבאים למליאה!</h1>
    <p>אנו הולכים להצביע על החוקים החדשים ולהשפיע על חיי הכיתה!</p>
    <p>כל קבוצה תקבל מספר קולות אשר ישפיעו על עתידנו.</p>
</div>

<div id="gotVotes" style="display:@gotVotesDisplay">
    <p>ברכותי! קיבלתם @myGroup.Points קולות!</p>
    <p> בואו נתחיל להשביפע! </p>
</div>


<div id="VoteScreen" class="screen" style="display:@voteScreenDisplay">
    <div id="SettingsContainer" class="col">
        <div id="ForTable">
            <table>
                <thead> <tr>   <th id="pass">עברו</th> <th id="fall">נפלו</th>   </tr> </thead>
                <tbody> <tr>   <td>@lawAmountPass</td>  <td>@lawAmountNotPass</td>   </tr> </tbody>
            </table>
        </div>
    </div>

    <div id="CharacterContainer"> <div>@characterText</div> <img src="@myGroup.Character" /> </div>


    <div id="LawContentContainer" style="display:@LawContentContainerDisplay">
        <div class="half head">
            <div id="lawWrapper">   <div id="law">@currentLawContent</div>   </div>
        </div>

        <div class="half bottom">
            <div id="cardsContainer">
                <button id="Against" @onclick='( () => ShowPopup("Against") )' disabled="@DisableVoteButton"> נגד </button>
                <button id="Avoid" @onclick='( () => ShowPopup("Avoid") )' disabled="@DisableVoteButton"> נמנע </button>
                <button id="For" @onclick='( () => ShowPopup("For") )' disabled="@DisableVoteButton"> בעד </button>
            </div>
        </div>

    </div>

    @if (isPopupVisible) {
        <PopUp Message="@popupMessage" OnConfirm="OnPopupConfirm" />
    }

    <div id="PieChartContainer" style="display:@PieChartContainerDisplay">
        <div id="canvasContainer"> <canvas id="myPieChart"></canvas> </div>
    </div>

</div>

<!--  RESULTS SCREEN  -->
<div id="resultsContainer" style="display:@resultsContainerDisplay">
    <table>
        <tr> <th>עברו</th> <th>נפלו</th> </tr>
        <tr> <td>@lawAmountPass</td> <td>@lawAmountNotPass</td> </tr>
    </table>
</div>




@code {

    private HubConnection? hub;// the connection to the Hub.
    Group myGroup = new Group(); // My user, will save the id.
    bool logged = false;
    List<Group> allGroups = new List<Group>();// list for all the users.
    int gamecode = 0;
    Game myGame = new Game(); // containe the game withe the laws.

    int playerGameCode = 0;// the code from the input of the player.
    string msg;// handle the error msg.

    // styles for divs.
    string firsatCanvasDisplay = "block";
    string secondCanvasDisplay = "none";
    string thiredCanvasDisplay = "none";
    string explenationCanvasDisplay = "none";
    string gotVotesDisplay = "none";
    string voteScreenDisplay = "none";
    string LawContentContainerDisplay = "flex";
    string PieChartContainerDisplay = "none";
    string resultsContainerDisplay = "none";

    string currentLawContent = "the law content will be here";
    int lawCounter = 0;
    int lawAmountPass = 0;
    int lawAmountNotPass = 0;
    string characterText = "הצביעו עכשיו!";

    bool DisableVoteButton = true;// if we can vote or not(disable buttons), true will disable!.
    private bool isPopupVisible; // Flag to control popup visibility
    private string popupMessage = ""; // Message to display in the popup
    private string currentVoteType = ""; // The type of vote (For, Against, Avoid)



    protected override async Task OnInitializedAsync() {
        // make a connection.
        hub = new HubConnectionBuilder()
            .WithUrl(nav.ToAbsoluteUri("./chathub"))
            .WithAutomaticReconnect()
            .Build();

        await hub.StartAsync(); // start connection.

        if (hub != null) {
            myGroup.ConnectionID = hub.ConnectionId;
        }
        // when someone login we get the user detailes and add it to the user list(to show it on screen).
        hub.On<Group>("GroupLogin", newGroup => {
            allGroups.Add(newGroup);
            StateHasChanged();
            // Console.WriteLine("Added Group");
        });

        hub.On("StartTheGame", () => {
            HandleStartGame();
        });

        hub.On("PointsDistributed", async () => {
            await GetAllGroups();
            foreach (Group group in allGroups) {
                if(myGroup.GroupName == group.GroupName) {
                    myGroup.Points = group.Points;
                }
            }
            explenationCanvasDisplay = "none";
            gotVotesDisplay = "block";
            StateHasChanged();
        });

        hub.On("StartVote", () => {
            StartVote();
            StateHasChanged();
        });
        hub.On<VoteDTO>("VoteUpdated", vote => {
            var law = myGame.LawList.FirstOrDefault(l => l.LawID == vote.LawID);
            if (law != null) {
                switch (vote.VoteType) {
                    case "For":
                        law.For += vote.Points;
                        break;
                    case "Against":
                        law.Against += vote.Points;
                        break;
                    case "Avoid":
                        law.Avoid += vote.Points;
                        break;
                }
                StateHasChanged();
            }
        });
        hub.On("showPieChart", async () => {
            await ShowPieChart();
            StateHasChanged();
        });
        hub.On("ShowNextLaw", () => {
            GetNextLaw();
            StateHasChanged();
        });
        hub.On("StartAgain", () => {
            StartAgain();
            StateHasChanged();
        });

    }


    // if the user looged in:
    public bool IsConnected =>
    hub?.State == HubConnectionState.Connected;

    // release connection.
    public async ValueTask DisposeAsync() {
        if (hub != null) {
            await hub.DisposeAsync();
        }
    }

    async Task GetGame() {
        var response = await Http.GetAsync("api/Laws/Game/" + playerGameCode);
        if (response.IsSuccessStatusCode == true) {
            myGame = response.Content.ReadFromJsonAsync<Game>().Result;
            // Console.WriteLine("Got Game" + "GameID: " + myGame.GameID);
            firsatCanvasDisplay = "none";
            secondCanvasDisplay = "block";
        }
        else {
            Console.WriteLine("wrong");
            string error = response.Content.ReadAsStringAsync().Result;
            switch (error) {
                case "No Game Code":
                    msg = "we do not have a game with this code.";
                    break;
                case "No Laws":
                    msg = "this game do not have any laws";
                    break;
            }
        }

    }

    void SetCharacter(string src) {
        myGroup.Character = src;
    }

    async Task LogIn() {
        // Console.WriteLine("Login");
        myGroup.GameID = myGame.GameID;
        var post = await Http.PostAsJsonAsync("api/Laws/InsertGroup", myGroup);
        if (post.IsSuccessStatusCode) {
            myGroup.GroupID = post.Content.ReadFromJsonAsync<int>().Result;
            logged = true;
            secondCanvasDisplay = "none";
            thiredCanvasDisplay = "block";

            // Retrieve all groups after logging in
            await GetAllGroups();
        }
        else {
            Console.WriteLine("wrong Login");
            string error = post.Content.ReadAsStringAsync().Result;
            switch (error) {
                case "didnt insert":
                    msg = "we did not insert the group";
                    break;
            }
        }
    }

    async Task GetAllGroups() {
        var response = await Http.GetAsync("api/Laws/GetAllGroups/" + myGame.GameID);
        if (response.IsSuccessStatusCode) {
            allGroups = await response.Content.ReadFromJsonAsync<List<Group>>();
            StateHasChanged();
        }
        else {
            msg = "Failed to load groups.";
        }
    }


    void HandleStartGame() {
        thiredCanvasDisplay = "none";
        explenationCanvasDisplay = "block";
        // Console.WriteLine("startgame");
        InvokeAsync(StateHasChanged);
    }

    void StartVote() {
        gotVotesDisplay = "none";
        voteScreenDisplay = "block";
        GetLawContent();
    }

    void GetLawContent() {
        if (lawCounter < myGame.LawList.Count) {
            currentLawContent = myGame.LawList[lawCounter].Content;
        }
        else {
            currentLawContent = "finish Game!";
        }
        // SetVoteTrueOrFalse();
        DisableVoteButton = false;// make the buttons clickable.
    }

    private void ShowPopup(string voteType) {
        currentVoteType = voteType; // Store the vote type
        popupMessage = $"Are you sure you want to vote {voteType}?"; // Set the message
        isPopupVisible = true; // Show the popup
    }

    private async Task OnPopupConfirm(bool isConfirmed) {
        isPopupVisible = false; // Hide the popup
        if (isConfirmed) {
            await SendVote(currentVoteType); // If confirmed, send the vote
        }
    }

    async Task SendVote(string voteType) {
        // Console.WriteLine(voteType);
        if (myGame != null && myGame.LawList != null && lawCounter < myGame.LawList.Count) {
            var vote = new VoteDTO {
                    GameID = myGame.GameID,
                    LawID = myGame.LawList[lawCounter].LawID,
                    VoteType = voteType,
                    Points = myGroup.Points
            };

            var response = await Http.PostAsJsonAsync("api/Laws/Vote", vote);
            if (response.IsSuccessStatusCode) {
                Console.WriteLine("Vote submitted successfully");
                DisableVoteButton = true;
            }
            else {
                Console.WriteLine("Failed to submit vote");
            }
        }
    }




    private bool CalculateResult() {
        if (myGame.LawList[lawCounter].For > myGame.LawList[lawCounter].Against) {
            lawAmountPass++;
            characterText = "ברכותי! החוק עבר!";
            return true;
        }
        else {
            lawAmountNotPass++;
            characterText = "החוק לא עבר :(";
            return false;
        }
    }



    private async Task ShowPieChart() {
        LawContentContainerDisplay = "none";
        PieChartContainerDisplay = "block";

        if (myGame.LawList.Count > 0 && lawCounter < myGame.LawList.Count) {
            var currentLaw = myGame.LawList[lawCounter];
            var data = new[] {
                new { label = "For", value = currentLaw.For },
                new { label = "Against", value = currentLaw.Against },
                new { label = "Avoid", value = currentLaw.Avoid }
            };
            myGame.LawList[lawCounter].IsPass = CalculateResult();// return true/false.
            Console.WriteLine(myGame.LawList[lawCounter].IsPass);
            var dataJson = System.Text.Json.JsonSerializer.Serialize(data);// make it json.
            await JSRuntime.InvokeVoidAsync("createOrUpdatePieChart", dataJson);
        }
    }


    void GetNextLaw() {
        lawCounter++;
        // לבדוק האם נגמרו החוקים
        if (lawCounter >= myGame.LawList.Count) {
            FinishGame();
            return;
        }
        //להביא את החוק הבא
        GetLawContent();
        //להסתיר את הגרף ולהראות את הכפתורים
        LawContentContainerDisplay = "flex";
        PieChartContainerDisplay = "none";
        characterText = "הצביעו עכשיו!";

    }

    void FinishGame() {
        Console.WriteLine("we finish vote");
        voteScreenDisplay = "none";
        resultsContainerDisplay = "block";
        foreach (LawsDTO law in myGame.LawList) {
            if (law.IsPass == true) {
                lawAmountPass++;
            }
            else {
                lawAmountNotPass++;
            }
        }

    }

    void StartAgain() {
        firsatCanvasDisplay = "block";
        resultsContainerDisplay = "none";
        msg = "";
    }



}
